/* IMPORT Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

/* SET Font for entire Body */
body {
  font-family: 'Quicksand', sans-serif;
}

/* ROOT COLOR VARIABLES */
:root {
  --primary-white: #ffffff;
  --secondary-color: #45457e;
  --primary-dark: rgba(255,255,255,0)
}

/* NAVBAR */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  color: white;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  /* !important overrides bootstrap css for root color variables */
  color: var(--primary-white) !important;
  /* Spacing between navbar items */
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

/* Navbar link hover effects */

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a:hover {
  color: var(--secondary-color) !important;
  border-top: 0.1875rem solid var(--secondary-color);
}

/* HEADER */

.header-wrapper {
  position: relative;
  background: url(/src/img/headerimg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: var(--primary-white);
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.main-info h1 {
  font-weight: 1000;
  font-size: 5rem;
}


/* ABOUT */

/* PORTFOLIO */

/* CONTACT */

/* FOOTER */