/* IMPORT Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

/* SET Font for entire Body */
body {
  font-family: 'Quicksand', sans-serif;
}

/* ROOT COLOR VARIABLES */
:root {
  --primary-white: #ffffff;
  --secondary-color: #137992;
}

/* NAVBAR */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  color: white;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  /* Spacing between navbar items */
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Navbar link hover effects */
.navbar-nav > li > a:hover {
  color: var(--secondary-color) !important;
}

/* HEADER */

/* ABOUT */

/* PORTFOLIO */

/* CONTACT */

/* FOOTER */